.header-inner
  .logo#logo{onclick: "location.reload()"} CakeWith
  %ul.header-menu
    %li.item{onclick: "location.reload()"}
      %i.fas.fa-home
      ホーム
    -# %li.item
    -#   %i.fas.fa-user-alt
    -#   新規登録
    -# %li.item
    -#   %i.fas.fa-key
    -#   ログイン